<<<<<<< HEAD
@font-face {
    font-family: "Open Sans";
    src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    min-width: 1200px;
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  
  /* Header */
  .site-header {
    position: relative;
    background-size: cover;
  }
  
  .site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
    z-index: 2;
  }
  
  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-item:nth-child(n+2) {
    margin-left: 33px;
  }
  
  .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #ded6d1;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .site-title {
    width: 685px;
    margin: 0 auto;
    padding: 105px 0 128px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    position: relative;
    z-index: 2;
  }
  
  /*ARTICLE*/
  
  .content-wrap {
    width: 1170px;
    margin: 0 auto;
    padding: 61px 0 64px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .article {
    display: flex;
    
  }
  
  .article:not(:last-child) {
    margin-bottom: 60px;
  }
  
  .article-text-column {
    width: 367px;
    padding-left: 30px;
  }
  
  .tab-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tab-link {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #5b7bb5;
  }
  
  .tab-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(77, 43, 155, 0.4);
  }
  
  .article-title {
    width: 330px;
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .article-title-link {
    text-decoration: none;
    color: #000;
  }
  
  .article-title-link:hover {
    color: #2954a5;
  }
  
  .article-datetime {
    margin-right: 5px;
    font-size: 12px;
    line-height: 40px;
    color: #888888;
  }
  
  .article-author {
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 40px;
    color: black;
  }
  
  /* SIDE BAR */
  .sidebar {
    width: 275px;
    position: sticky;


  }
  
  .sidebar-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  
  .sidebar-title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    margin: 5px auto;
    background-color: rgba(73, 182, 255, 0.87);
  }
  
  .new-posts-list {
    margin: 20px 0 20px 0;
    
  }
  
  .new-posts-article {
    display: flex;
    margin-bottom: 22px;
  }
  
  .post-img-column {
    padding-top: 5px;
  }
  
  .post-text-column {
    margin: 0;
    padding-left: 18px;
  }
  
  .new-posts-datetime {
    font-size: 12px;
    color: #888888;
  }
  
  .new-posts-title {
    margin:0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .new-posts-link {
    text-decoration: none;
    color: #000;
    line-height: 18px;
  }
  
  .new-posts-link:hover {
    color: #9644f3;
  }
  
  .search {
    padding-bottom: 55px;
  }
  
  .search-field {
    box-sizing: border-box;
    padding-left: 15px;
    width: 220px;
    height: 48px;
    vertical-align: middle;
    outline: none;
    border: transparent 1px solid;
    background-color: #f4f7f6;
  }
  
  .search-field:focus {
    border: 1px solid #b59f5b;
  }
  
  .search-button {
    width: 48px;
    height: 48px;
    background-color: #6849f1;
    border: none;
    background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    vertical-align: middle;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #000;
  }
  
  .subscription-field {
    width: 272px;
    height: 48px;
    box-sizing: border-box;
    margin-top: 25px;
    padding-left: 15px;
    vertical-align: middle;
    outline: none;
    border: transparent 1px solid;
    background-color: #f4f7f6;
  }
  
  .subscription-field:focus {
    border: 1px solid #b59f5b;
  }
  
  .subscription-button {
    width: 272px;
    height: 48px;
    margin: 17px 0 62px 0;
    background-color:  #6849f1;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .subscription-button:hover {
    background-color: rgb(0, 0, 0);  
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    padding: 22px 0 60px 0;
  }
  
  .tags-item {
    padding: 0 10px 7px 0;
  }
  
  .tags-link {
    display: inline-block;
    padding:5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 3px solid #eeeeee;
  }
  
  .tags-link:hover {
    border: 3px solid #b59f5b;
  }
  
  .category-item {
    border-bottom: 1px solid #eeeeee;
  }
  
  .category-link {
    font-weight: bold;
    line-height: 47px;
    text-decoration: none;
    color: #000;
  }
  
  .category-link:hover {
    color: #b59f5b;
  }
  
  .number {
    margin-left: 5px;
    font-size: 12px;
    color: #b59f5b;
  }
  
  /* ПОДВАЛ */
  
  .footer-wrap {
    width: 1170px;
    margin: 0 auto;
  }
  
  .social-list {
    display: flex;
    background-color: #f4f7f6;
    justify-content: center;
    padding: 30px 0;
  }
  
  .social-item:nth-child(n+2) {
    margin-left: 30px;
  }
  
  .social-link {
    display: inline-block;
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .dribble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  }
  
  .tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg")
  }
  
  .pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg")
  }
  
  .copyrights {
    margin: 0;
    padding: 55px 0 40px 0;
    text-align: center;
  }
  
  .copyright-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
=======
@font-face {
    font-family: "Open Sans";
    src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Open Sans";
    src:url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
    font-weight: bold;
    font-style: normal;
  }
  
  body {
    min-width: 1200px;
    margin: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  img {
    vertical-align: middle;
  }
  
  
  /* Header */
  .site-header {
    position: relative;
    background-size: cover;
  }
  
  .site-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    padding-top: 25px;
    position: relative;
    z-index: 2;
  }
  
  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-item:nth-child(n+2) {
    margin-left: 33px;
  }
  
  .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    color: #ded6d1;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }
  
  .site-title {
    width: 685px;
    margin: 0 auto;
    padding: 105px 0 128px 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    line-height: 75px;
    color: #ffffff;
    position: relative;
    z-index: 2;
  }
  
  /*ARTICLE*/
  
  .content-wrap {
    width: 1170px;
    margin: 0 auto;
    padding: 61px 0 64px 0;
    display: flex;
    justify-content: space-between;
  }
  
  .article {
    display: flex;
    
  }
  
  .article:not(:last-child) {
    margin-bottom: 60px;
  }
  
  .article-text-column {
    width: 367px;
    padding-left: 30px;
  }
  
  .tab-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .tab-link {
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #5b7bb5;
  }
  
  .tab-link:hover {
    text-decoration: underline;
    text-decoration-color: rgba(77, 43, 155, 0.4);
  }
  
  .article-title {
    width: 330px;
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .article-title-link {
    text-decoration: none;
    color: #000;
  }
  
  .article-title-link:hover {
    color: #2954a5;
  }
  
  .article-datetime {
    margin-right: 5px;
    font-size: 12px;
    line-height: 40px;
    color: #888888;
  }
  
  .article-author {
    font-weight: bold;
    font-style: normal;
    font-size: 12px;
    line-height: 40px;
    color: black;
  }
  
  /* SIDE BAR */
  .sidebar {
    width: 275px;
    position: sticky;


  }
  
  .sidebar-title {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-align: center;
  }
  
  .sidebar-title::after {
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    margin: 5px auto;
    background-color: rgba(73, 182, 255, 0.87);
  }
  
  .new-posts-list {
    margin: 20px 0 20px 0;
    
  }
  
  .new-posts-article {
    display: flex;
    margin-bottom: 22px;
  }
  
  .post-img-column {
    padding-top: 5px;
  }
  
  .post-text-column {
    margin: 0;
    padding-left: 18px;
  }
  
  .new-posts-datetime {
    font-size: 12px;
    color: #888888;
  }
  
  .new-posts-title {
    margin:0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .new-posts-link {
    text-decoration: none;
    color: #000;
    line-height: 18px;
  }
  
  .new-posts-link:hover {
    color: #9644f3;
  }
  
  .search {
    padding-bottom: 55px;
  }
  
  .search-field {
    box-sizing: border-box;
    padding-left: 15px;
    width: 220px;
    height: 48px;
    vertical-align: middle;
    outline: none;
    border: transparent 1px solid;
    background-color: #f4f7f6;
  }
  
  .search-field:focus {
    border: 1px solid #b59f5b;
  }
  
  .search-button {
    width: 48px;
    height: 48px;
    background-color: #6849f1;
    border: none;
    background-image:url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
    vertical-align: middle;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: #000;
  }
  
  .subscription-field {
    width: 272px;
    height: 48px;
    box-sizing: border-box;
    margin-top: 25px;
    padding-left: 15px;
    vertical-align: middle;
    outline: none;
    border: transparent 1px solid;
    background-color: #f4f7f6;
  }
  
  .subscription-field:focus {
    border: 1px solid #b59f5b;
  }
  
  .subscription-button {
    width: 272px;
    height: 48px;
    margin: 17px 0 62px 0;
    background-color:  #6849f1;
    color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .subscription-button:hover {
    background-color: rgb(0, 0, 0);  
  }
  
  .tags-list {
    display: flex;
    flex-wrap: wrap;
    padding: 22px 0 60px 0;
  }
  
  .tags-item {
    padding: 0 10px 7px 0;
  }
  
  .tags-link {
    display: inline-block;
    padding:5px 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 3px solid #eeeeee;
  }
  
  .tags-link:hover {
    border: 3px solid #b59f5b;
  }
  
  .category-item {
    border-bottom: 1px solid #eeeeee;
  }
  
  .category-link {
    font-weight: bold;
    line-height: 47px;
    text-decoration: none;
    color: #000;
  }
  
  .category-link:hover {
    color: #b59f5b;
  }
  
  .number {
    margin-left: 5px;
    font-size: 12px;
    color: #b59f5b;
  }
  
  /* ПОДВАЛ */
  
  .footer-wrap {
    width: 1170px;
    margin: 0 auto;
  }
  
  .social-list {
    display: flex;
    background-color: #f4f7f6;
    justify-content: center;
    padding: 30px 0;
  }
  
  .social-item:nth-child(n+2) {
    margin-left: 30px;
  }
  
  .social-link {
    display: inline-block;
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .dribble {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  }
  
  .tumblr {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg")
  }
  
  .pinterest {
    background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg")
  }
  
  .copyrights {
    margin: 0;
    padding: 55px 0 40px 0;
    text-align: center;
  }
  
  .copyright-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
>>>>>>> 4d9a7f803c8b82d18d0d0cfce91435d7b75be7dd
  }