<<<<<<< HEAD
.cardText{
    border-radius: 25px; 
    margin-top:20px;
}
.password-label{
  font-size:10px;
}
=======
.cardText{
    border-radius: 25px; 
    margin-top:20px;
}
.password-label{
  font-size:10px;
}
>>>>>>> 4d9a7f803c8b82d18d0d0cfce91435d7b75be7dd
